body {
  background-color: #ffffb3;
}
#bigL {
  color: navy;
}

.star {
  color: #ff1aff;
}

.count {
  font-size: 20px;
  height: 50px;
  width: 100px;
  color: #ff1aff;
  border: 5px solid #ff1aff;
  margin-right: 10px;
}

.container-fluid {
  margin-top: 50px;
  text-align: center;
  margin-left: 150px;
}

button {
  margin-right: 10px;
}

#buttonRow {
  margin-top: 200px;
  margin-left: 250px;
}
.num {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: #248f24;
  border: 4px solid #ffffb3;
  color: pink;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.selected {
  background-color: #ff1aff;
}
.notInPlay {
  background-color: #ff33cc;
}

.alert {
  margin-top: 30px;
  font-size: 40px;
  font-weight: bold;
  color: #ff1aff;
  text-align: center;
  font-style: italic;
}
